* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #116acc;
  --bg: #eff0f1;
  --dark: #090e53;
  --border: #d9dde7;
  --white: #ffffff;
  --gray-text: #888;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
}
